<!DOCTYPE html>
<html lang="{{ request.lang }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }} - ip-update.net</title>
    <meta name="description" content=""/>
    <meta name="keywords"
          content="IPv6, browser, webbrowser, upgrade internet, update internet, RFC8200"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png"/>
    <link rel="icon" href="/static/img/favicon.png" type="image/png"/>
    {{ extraheader }}
</head>
<body>
<div class="header">
    <div class="innerhead">
        <h1><a href="{{ g.langprefix }}/">ip-update.net</a></h1>
        <div class="tagline">{{ _('An initiative to inform users about missing internet access') }}</div>
    </div>
</div>

<div id="co">
    {{ content }}
</div>

</body>
</html>